:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    background-color: #17162E;
    color: #fff;
}


ul {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
    margin: 6rem 0;
}

.movies-selecion-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}


.search-input-container {
    position: relative;
    padding-left: 3rem;
}

.input-search-movie {
    width: 65vw;
    padding: 3rem 4rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #FFF;
}

.input-search-movie::placeholder {
    color: #8A8A8A;
}

.bi-search {
    position: absolute;
    right: 2rem;
    top: 2.7rem;
    font-size: 2rem;
    color: #8A8A8A;
}

.input-check-favorite-movies {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #17162E;
    border: 0.2rem solid #706EA8;
    border-radius: 4px;
    cursor: pointer;
}

.input-check-favorite-movies::after {
    font-family: 'Bootstrap-icons';
    content: '\F26E';
    color: #FFF;
    opacity: 0;
}

.input-check-favorite-movies:checked {
    background-color: #706EA8;
}

.input-check-favorite-movies:checked::after {
    opacity: 1;
}

.input-check-favorite-movies:checked,  .input-check-favorite-movies:checked::after {
    transition: all 0.3s;
}


.movie-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    padding: 2rem 3rem;
    margin: 4rem 0;
    background-color: #1D1C3B;
    border-radius: 8px;
    box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
}

.movie-card__infos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.poster-proportion {
    height: 140px;
    margin-right: 5rem;
}

.movie-card__infos__poster {
    max-height: 100%;
    border-radius: 8px;
}

.movie-card__infos__title, .movie-card__infos__details, .movie_card__sinopsis {
    font-size: 1.8rem;
}

.movie-card__infos__title {
    display: block;
    text-align: center;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.movie-card__infos__details {
    display: flex; 
    text-align: center;
}

.movie-card__infos__detail {
    position: relative;
}

.label-accessiblity{
    position: absolute;
    left: -100vw;
    opacity: 0;
}


.detail-rating {
    margin-right: 2rem;
}


.detail-rating::before {
    font-family:'Bootstrap-icons';
    content:'\F586';
    color: #D7A82F;
    margin-right: 0.75rem;
}

.detail-favorite {
    cursor: pointer;
}

.detail-favorite::before {
    font-family:'Bootstrap-icons';
    content: '\F417';
    color: #BA0707;
    margin-right: 0.75rem;
}

.movie_card__sinopsis {
    max-width: 700px;
    padding: 2rem 0;
    color: #ACACAC;
}